body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #888;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.heading {
  background-color: #ffffff;
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
  width: 400px;
}
h1, h2 {
  text-align: center;
  color: #000000;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input, button {
  padding: 10px;
  border: 1px solid #888;
  border-radius: 10px;
  font-size: 20px;
}
button {
  background-color: #2E6F40;
  color: #ffffff;
  cursor: pointer;
  border: none;
}
button:hover {
  background-color: #008000;
}
#moodList {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}
#moodList li {
  background: #ffffff;
  margin: 6px 0;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteButton {
  background: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
  font-size: 10px;
}
.deleteButton:hover {
  background: #800000;
}
#voidMessage {
  text-align: center;
  color: #888;
}
